* {
  margin: 0;
  padding: 0;
}

body {
  width: 270px;
  padding: 10px 20px;
  min-height: 185px;
}

h1.title {
  white-space: normal;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;

  .version {
    font-size: 14px;
    color: #9a9a9a;
  }
}

.control-group {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

dl.control-group > dt {
  font-size: 14px;
  padding-bottom: 5px;
  color: #505050;
}

.warning {
  color: red;
  font-size: 12px;
  line-height: 2;
}

.control-button {
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #d9d9d9;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 4px;
  height: 32px;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  margin-bottom: 5px;
  margin-left: 5px;
  outline: none;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
  }

  &.control-button-dis {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;

    &:hover {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      border-color: #d9d9d9;
    }
  }
}

.copyright {
  color: #9c9c9c;
  padding-top: 10px;
  border-top: 1px solid #dedede;
  margin-top: 10px;
}

a {
  color: #2879d6;
}

.size-input-wrap {
  font-size: 12px;
  margin-top: 10px;

  > label {
    margin-right: 10px;
  }

  > input {
    width: 100px;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
  }
}
